body {
  background-color: rgb(248, 245, 238);
}

.imagem-cards {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;


  transition: transform 0.5s ease;
  object-position: center;
  display: block;
}

.div-imagem {
  display: flex;
  justify-content: center;
  position: relative;

  height: 400px;
}

.div-imagem::after {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: inset 0 20px 20px rgba(0, 0, 0, 0);
  transition: box-shadow 0.6s ease;
  pointer-events: none;
}

/* hover */
.div-imagem:hover .imagem-cards {
  transform: scale(1.1);
}

.div-imagem:hover::after {
  box-shadow: inset 0 20px 60px rgba(54, 54, 54, 0.5);
  transform: scale(1.1);

}

.card {
  border-radius: 15px !important;

  overflow: hidden;
  position: relative;
}

.card-unidades {
  height: 1000px;
}

.texto-endereco {
  min-height: 45px !important;
}

.container_maps {
  display: flex;
  justify-content: center;
  align-items: center;
}

.botoes_nav {
  color: rgb(107, 107, 107) !important;
}

.botoes_nav:hover {
  color: rgba(128, 128, 128, 0.411) !important;
}

.icone_sucesso {
  color: green !important;
}

.toast {
  background-color: white;
}

.toast-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}